<app-navbar/>

<p-table [value]="db" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th><strong>id</strong></th>
      <th><strong>login</strong></th>
      <th><strong>roles</strong></th>
      <th><strong>email</strong></th>
      <th><strong>surname</strong></th>
      <th><strong>name</strong></th>
      <th><strong>patronymic</strong></th>
      <th><strong>birthday</strong></th>
      <th><strong>actions</strong></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.roles | json}}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.patronymic }}</td>
      <td>{{ user.birthday }}</td>
      <td>
        <a routerLink="/editUser/{{user.id}}" class="p-button p-button-secondary font-bold p-butt p-button-sm">Edit user</a>
        <p-button label="Delete" severity="danger" (click)="submitDelete(user.id)" size="small"/>
      </td>
    </tr>
  </ng-template>
</p-table>
