<div align="center">
  <p-card header="Login" [style]="{width:'360px'}">

    <form [formGroup]="loginForm" (submit)="submitAuth()">

      <div class="field">
        <label for="username">Username:</label>
        <input id="username" type="text" pInputText formControlName="username" class="w-full"/>
        <div *ngIf='username?.invalid && (username?.touched || username?.dirty)' class="block p-error">
          <div *ngIf="username?.errors?.['required']" class="error">Username is required</div>
        </div>
      </div>

      <div class="field">
        <label for="password">Password:</label>
        <input id="password" type="password" pInputText formControlName="password" class="w-full"/>
        <div *ngIf='password?.invalid && (password?.touched || password?.dirty)' class="block p-error">
          <div *ngIf="password?.errors?.['required']" class="error">Password is required</div>
        </div>
      </div>

      <p-button type="submit" label="Submit" [disabled]="loginForm.invalid"></p-button>

    </form>

  </p-card>

</div>
