<div class="header">
  <div class="logo">
    BAR71
  </div>
  <div class="header-right">
      <img src="assets/images/rus_flag.png"/>
      <img src="assets/images/uk_flag.png"/>
    <div *ngIf="sessionStorage.getItem('user')">
      <span i18n>Hello, </span><strong>{{userService.getSessionUsername()}}</strong>
      <div>
        <p-button label="Logout" (click)="logout()" severity="danger" size="small"></p-button>
      </div>
    </div>
  </div>

</div>

<router-outlet/>
