<app-navbar/>
<div align="center">
  <p-card header="Add user" [style]="{width:'500px'}">
    <app-user-form
      submitLabel="Add user"
      [submitFn]="userService.addUser.bind(userService)"
    />
  </p-card>
</div>



