<app-navbar/>
<div align="center">
  <p-card header="Edit user" [style]="{width:'500px'}">
    <app-user-form submitLabel="Edit user" [submitFn]="userService.editUser.bind(userService)" [userId]="userId"/>
  </p-card>
</div>
