<div class="navbar">
  <div>
    <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
  </div>
  <div *ngIf="userService.isAdmin(user)">
    <a routerLink="/users"  routerLinkActive="active">Users</a>
  </div>
  <div *ngIf="userService.isAdmin(user)">
    <a routerLink="/addUser" routerLinkActive="active">Add user</a>
  </div>
</div>

