<form *ngIf="dataLoaded" [formGroup]="userForm" (submit)="submitUser()">
  <div class="field">
    <label for="username">Username:</label>
    <input id="username" type="username" pInputText formControlName="username" class="w-full"/>
    <div *ngIf='username?.invalid && (username?.touched || username?.dirty)' class="block p-error">
      <div *ngIf="username?.errors?.['required']" class="error">Username is required</div>
      <div *ngIf="username?.errors?.['minlength']" class="error">Min length is </div>
      <div *ngIf="username?.errors?.['maxlength']" class="error">Max length is </div>
    </div>
  </div>

  <div class="field">
    <label for="password">Password: </label>
    <input id="password" type="password" pInputText formControlName="password" class="w-full"/>
    <div *ngIf='password?.invalid && (password?.touched || password?.dirty)' class="block p-error">
      <div *ngIf="password?.errors?.['required']" class="error">Password is required</div>
      <div *ngIf="password?.errors?.['minlength']" class="error">Min length is </div>
      <div *ngIf="password?.errors?.['maxlength']" class="error">Max length is </div>
    </div>
  </div>

  <div class="field">
    <label for="email">Email: </label>
    <input id="email" type="email" pInputText formControlName="email" class="w-full"/>
    <div *ngIf='email?.invalid && (email?.touched || email?.dirty)' class="block p-error">
      <div *ngIf="email?.errors?.['required']" class="error">Email is required</div>
      <div *ngIf="email?.errors?.['minlength']" class="error">Min length is </div>
      <div *ngIf="email?.errors?.['maxlength']" class="error">Max length is </div>
    </div>
  </div>

  <div class="field">
    <label for="name">Name: </label>
    <input id="name" type="text" pInputText formControlName="name" class="w-full"/>
    <div *ngIf='name?.invalid && (name?.touched || name?.dirty)' class="block p-error">
      <div *ngIf="name?.errors?.['required']" class="error">Name is required</div>
      <div *ngIf="name?.errors?.['minlength']" class="error">Min length is </div>
      <div *ngIf="name?.errors?.['maxlength']" class="error">Max length is </div>
    </div>
  </div>

  <div class="field">
    <label for="surname">Surname: </label>
    <input id="surname" type="text" pInputText formControlName="surname" class="w-full"/>
    <div *ngIf='surname?.invalid && (surname?.touched || surname?.dirty)' class="block p-error">
      <div *ngIf="surname?.errors?.['required']" class="error">Surname is required</div>
      <div *ngIf="surname?.errors?.['minlength']" class="error">Min length is </div>
      <div *ngIf="surname?.errors?.['maxlength']" class="error">Max length is </div>
    </div>
  </div>

  <div class="field">
    <label for="patronymic">Surname: </label>
    <input id="patronymic" type="text" pInputText formControlName="patronymic" class="w-full"/>
    <div *ngIf='patronymic?.invalid && (patronymic?.touched || patronymic?.dirty)' class="block p-error">
      <div *ngIf="patronymic?.errors?.['required']" class="error">Patronymic is required</div>
      <div *ngIf="patronymic?.errors?.['minlength']" class="error">Min length is </div>
      <div *ngIf="patronymic?.errors?.['maxlength']" class="error">Max length is </div>
    </div>
  </div>

  <div class="field">
    <label for="birthday">Birthday: </label>
    <p-calendar id="birthday" formControlName="birthday" dateFormat="yy-mm-dd" class="w-full"/>
    <div *ngIf='birthday?.invalid && (birthday?.touched || birthday?.dirty)' class="block p-error">
      <div *ngIf="birthday?.errors?.['required']" class="error">Birthday is required</div>
      <div *ngIf="birthday?.errors?.['past']" class="error">Birthday must be in past</div>
      <div *ngIf="birthday?.errors?.['pattern']" class="error">Pattern is YEAR-MONTH-DAY</div>
    </div>
  </div>

  <div class="field">
    <div formArrayName="roles">
      <div *ngFor="let role of allRoles; let i = index" class="field-checkbox justify-content-center">
        <p-checkbox
          formControlName="{{i}}"
          inputId="{{role.naming}}"
          [binary]="true"
          [label]="role.naming"/>
      </div>
      <div *ngIf='roles?.invalid && (roles?.touched || roles?.dirty)' class="block p-error">
        <div *ngIf="roles?.errors?.['oneRoleRequired']" class="error">Select at least one role</div>
      </div>
    </div>
  </div>

  <p-button type="submit"
            label="{{submitLabel}}"
            [disabled]="userForm.invalid"
            class="w-full"/>
</form>

