<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@tag pageEncoding="UTF-8" %>
<div class="footer">
    <p>Copyright <a href="https://vk.com/kheruvimovv" class="logo" target="_blank">Дмитрий Херувимов</a> 2023</p>
</div>