table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 50px auto;
}

tr {
    border: 1px solid #000;
    box-sizing: border-box;
    height: 25%;
}

td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#LOGO {
    float: left;
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 52px;
    margin-top: 15px;
}

.header-right {
    float: right;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.footer {
    text-align: center;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

form {
    align-items: center;
    --border: rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

label {
    display: flex;
    flex-direction: row;
}

input {
    border: 1px solid var(--border);
    box-sizing: border-box;
    height: 2.25rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 15rem;
}


.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#greetings {
    text-align: center;
    font-size: x-large;
    padding: 20px 10px;
}
